.navbar-brand {
    display: flex;
}
  .navbar-text {
    color: #274472 !important;
    font-size: 1.7rem;
    padding-left: 3%;
    font-weight: bold; 
  }
  
  #navbar-logo {
    height: 25vh;
    width: auto; 
  }
  
  @media (max-width: 600px) {
    .container-fluid {
        display: flex;
    }
    .navbar-brand {
        white-space: normal;
    }
    .navbar-text {
        justify-content: center;
        font-size: 1.2rem;
        width: 75%;
        color: #274472 !important;
    }
}

.social-icons {
    position: relative;
    bottom: 0;
    margin-left: auto;
}
.navbar-nav.social-icons .nav-item .nav-link {
    margin-right: 15px;
}
.blue-line {
    height: 2px; 
    background-color: #274472; 
    width: 100%; 
} 

  #menu {
    position: flex;
    top: 0;
    background-color: #ffffff;
    padding: 10px 0; 
    width: 100%;
}

.navbar {
    padding: 0 !important;
}

.navbar-nav {
    justify-content: space-between;
}


.navbar-nav li {
    padding: 0 10px;
}


.navbar-nav li a {
    color: #274472 !important;
    font-weight: 600;
    text-align: left;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-nav .nav-item .nav-link {
    transition: color 0.2s;
}
  
.navbar-nav .nav-item .nav-link:hover {
    color: #274472 !important;
    background-color: #cce5ff; 
    border-radius: 300px;
}
@media (min-width: 600px) {
    .nav-item.dropdown {
        position: relative; 
    }

    .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.9s ease, transform 0.9s ease, visibility 0.5s;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

  @media (max-width: 600px) {
    #menu {
        position: relative;
        background-color: #ffffff;
        padding: 10px 0;
        width: 100%;
    }

    .navbar-nav {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        padding-left: 20px; 
    }

    .navbar-nav li {
        padding: 5px 0; 
    }
    .collapse.navbar-collapse {
        transition: max-height 0.3s ease-in-out; 
        max-height: 0;
        overflow: hidden;
    }
    .collapse.navbar-collapse.show {
        max-height: 1000px; 
    }    

    .navbar-toggler {
        outline: none !important;
        position: absolute; 
        top: 10px; 
        right: 10px; 
    }
}

.news-item {
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.news-image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    object-fit: cover;
}

.news-content {
    padding-left: 15px;
    width: 100%;
    object-fit: cover;
}

.row.mb-3{
    width: 100%;
    display: flex;
}

.news-title {
    margin-top: 0;
    color: #333;
}

.news-text {
    color: #666;
    margin-bottom: 15px; 
}

.news-title-link {
    text-decoration: none; 
    color: inherit; 
}

.news-title-link:hover,
.news-title-link:focus {
    text-decoration: none; 
}

.news-author-date {
    font-style: italic;
    font-size: 0.9em; 
    color:#666;
}

.btn-primary {
    background-color: #274472;
    border-color: #274472;
}

.btn-primary:hover {
    background-color: #274472; 
    border-color: #274472;
}

.pagination button {
    margin: 0 4px;
    padding: 6px 12px;
    border: 1px solid #274472;
    background-color: #274472;
    color: #ffffff;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #005ec2;
    border-color: #005ec2;
}

.pagination button.active {
    background-color: #005ec2;
    border-color: #005ec2;
    cursor: default;
    pointer-events: none;
}

.pagination .page-item {
    display: inline-block;
}

.pagination .page-item a {
    display: block;
    text-decoration: none;
    color: #007bff;
}

.pagination .page-link {
    border: none;
    padding: 0;
}

#footer {
    background-color: #274472; 
    color: #ffffff; 
    padding: 1rem 0; 
    margin-top: 10%;
}

#footer-links {
    margin-top: 20%;
    padding-left: 0; 
    margin-left: 20%;
}

@media screen and (max-width: 768px) {
    #footer-links {
        margin-left: 0;
        text-align: center; 
    }
}

#footer a {
    color: #dcdcdc;
}

#footer a:hover {
    color: #ffffff; 
    text-decoration: none;
}

#footer-heading {
    margin-bottom: .5rem; 
}

#footer-links li {
    padding-bottom: 1rem; 
}

#footer-links-contact {
    margin-top: 20%;
}

@media screen and (max-width: 768px) {
    #footer-links-contact {
        margin-left: 0;
        margin-top: 20%;
        text-align: center; 
    }
}

#footer-links-contact li{
    padding-bottom: 1rem;
}

#social-icons-footer{
    margin-top: 20%;
}
#social-icons-footer li{
    padding-bottom: 1rem;
}

footer .copyright {
    color: #b4b4b4; 
    opacity: 0.8; 
}


